@charset "UTF-8";
:root {
  --font-chakra-petch: "Chakra Petch", sans-serif;
  --font-iceland: "Iceland", sans-serif;
}

:root {
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-start: hsl(37, 97%, 70%);
  --instagram-middle: hsl(5, 77%, 71%);
  --instagram-end: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);
  --black: #272624;
  --white: #EEEFED;
  --red: #FF4F5E;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-chakra-petch);
  background: var(--black);
  color: var(--white);
}

ul {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--white);
}

/*
* small(s) 576px
* medium(m) 768px
* large(l) 992px
* x-large(xl) 1200px
* xx-large(xxl) 1400px
*/
/*
* small(s) <576px
* medium(m) <768px
* large(l) <992px
* x-large(xl) <1200px
* xx-large(xxl) <1400px
*/
/*
* Permet d'appliquer un media-query en fonction d'un breakpoint
* pour une taille MINIMALE d'écran
* @param $size: string (s, m, l, xl, xxl)
* @return applique le media-query au contenu désiré
*/
/*
* Permet d'appliquer un media-query en fonction d'un breakpoint
* pour une taille MAXIMALE d'écran
* @param $size: string (s, m, l, xl)
* @return applique le media-query au contenu désiré
*/
/*
* Cette fonction permet de convertir des pixels en rem,
* par exemple rem(32), soit 32px, donnera 2rem.
* @param $pixels:number
* @return {number}rem;
*/
.container {
  padding: 0 1.5625rem;
  max-width: 71.25rem;
  margin: 0 auto;
}
@media (min-width: 36em) {
  .container {
    padding: 0 1.125rem;
  }
}
@media (min-width: 48em) {
  .container {
    padding: 0 1.5rem;
  }
}
@media (min-width: 62em) {
  .container {
    padding: 0 1rem;
  }
}
@media (min-width: 75em) {
  .container {
    padding: 0 1.875rem;
  }
}
@media (min-width: 87.50em) {
  .container {
    padding: 0 2.5rem;
  }
}

/*
* Cette fonction permet de convertir des pixels en rem,
* par exemple rem(32), soit 32px, donnera 2rem.
* @param $pixels:number
* @return {number}rem;
*/
nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 114px;
}
nav div {
  display: flex;
  align-items: center;
}

.navbar__logo {
  width: 60px;
}
.navbar__separator {
  margin: 0 10px;
  width: 1px;
  height: 36px;
  background-color: var(--white);
}
.navbar__title {
  margin: 0;
  text-transform: uppercase;
  font-family: var(--font-iceland);
  font-size: 1.375rem;
}

.submenu__links {
  display: flex;
  padding: 0;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.submenu__links li {
  position: relative;
  margin-right: 1rem;
}
.submenu__links li a {
  transition: all 200ms ease-in-out;
}
.submenu__links li a:hover {
  color: var(--red);
}
.submenu__links li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--red);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
}
.submenu__links li:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.submenu__button {
  border: none;
  background-color: var(--white);
  padding: 0.5rem;
  color: var(--red);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: var(--font-chakra-petch);
  transition: 200ms ease-in-out;
  cursor: pointer;
}
.submenu__button:hover {
  background-color: var(--red);
  color: var(--white);
}

@media screen and (min-width: 1024px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
  }

  .navbar__title {
    font-size: 2.25rem;
  }

  .submenu__links {
    font-size: 1rem;
  }
  .submenu__links li {
    margin-right: 2rem;
  }
  .submenu__button {
    font-size: 0.875rem;
  }
}
main {
  border-top: 1px solid var(--white);
  background-image: url("../../assets/main__background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 114px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
main h1 {
  margin: 0;
  font-family: var(--font-iceland);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 6px;
}
main h2 {
  margin: 1rem 0 0 0;
  font-weight: 400;
  font-size: 1.75rem;
  text-align: center;
  text-transform: uppercase;
}
main img {
  margin-top: 1rem;
  width: 375px;
}

.main__button {
  margin-top: 2rem;
  border: none;
  background-color: var(--white);
  padding: 0.5rem;
  color: var(--red);
  text-transform: uppercase;
  font-size: 12px;
  font-family: var(--font-chakra-petch);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.main__button:hover {
  background-color: var(--red);
  color: var(--white);
  transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
  main {
    height: calc(100vh - 59px);
  }
  main h1 {
    font-size: 7rem;
    letter-spacing: 20px;
  }
  main h2 {
    font-size: 2.25rem;
  }
  main img {
    margin-top: 2rem;
    width: 445px;
  }

  .main__button {
    margin-top: 3rem;
    padding: 1rem;
    font-size: 20px;
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
#maraudeurs {
  border-top: 1px solid var(--white);
  background-image: url("../../assets/texture_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: calc(100vh - 114px);
}
#maraudeurs div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  min-height: calc(100vh - 114px);
}
#maraudeurs div h1 {
  font-family: var(--font-iceland);
  text-transform: uppercase;
  text-align: center;
  font-size: 2.25rem;
}
#maraudeurs div .maraudeurs__separator {
  width: 375px;
}
#maraudeurs div .maraudeurs__logo {
  width: 150px;
}
#maraudeurs div .maraudeurs__arrow-down {
  animation: bounce 1s infinite;
  margin: 2rem 0;
}
#maraudeurs div p {
  text-align: center;
  font-size: 1.125rem;
}

@media screen and (min-width: 1024px) {
  #maraudeurs {
    min-height: calc(100vh - 59px);
  }
  #maraudeurs div h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  #maraudeurs div .maraudeurs__separator {
    margin: 1rem 0;
  }
  #maraudeurs div .maraudeurs__logo {
    width: 250px;
  }
  #maraudeurs div p {
    font-size: 1.5rem;
  }
}
.ambitions {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.ambitions__background {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.ambitions__separator {
  width: 375px;
}
.ambitions h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .ambitions__background {
    height: 512px;
  }
}

/*# sourceMappingURL=style.css.map */
