.ambitions {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  &__background {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }

  &__separator {
    width: 375px;
  }

  h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .ambitions {
    &__background {
      height: 512px;
    }
  }
}
