.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__separator {
    margin-top: 2rem;
    width: 375px;
  }

  div {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }

    &__logo {
      width: 60px;
    }

    &__separator--vertical {
      margin: 0 10px;
      width: 1px;
      height: 36px;
      background-color: var(--white);
      transform: translateY(-16px);
    }

    &__title {
      margin: 0;
      text-transform: uppercase;
      font-family: var(--font-iceland);
      font-size: 1.375rem;
    }

  h3,
  h4 {
    font-weight: normal;
  }

  h4 {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer__title {
    font-size: 2.25rem;
  }
}
