.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  &__background {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 2rem;
  }

  &__separator {
    width: 375px;
  }

  p {
    font-size: 1.5rem;

    img {
      margin-left: 3px;
      width: 35px;
      transform: translateY(12px);
    }
  }

  ul {
    margin: 1.5rem 0;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  &--bold {
    font-weight: 700;
  }
}

@media screen and (min-width: 1024px) {
  .join {
    &__background {
      height: max-content;
    }
  }
}
