@import "../utils/functions.scss";

nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div{
    display: flex;
    align-items: center;
  }
}

.navbar {
  &__logo {
    width: 60px;
  }

  &__separator {
    margin: 0 10px;
    width: 1px;
    height: 36px;
    background-color: var(--white);
  }

  &__title {
    margin: 0;
    text-transform: uppercase;
    font-family: var(--font-iceland);
    font-size: rem(22);
  }
}

.submenu {
  &__links {
    display: flex;
    padding: 0;
    text-transform: uppercase;
    font-size: rem(12);

    li {
      position: relative;
      margin-right: 1rem;

      a {
        transition: all 200ms ease-in-out;
      }

      a:hover {
        color: var(--red);
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--red);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 200ms ease-in-out;
      }

      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }

  &__button {
    border: none;
    background-color: var(--white);
    padding: 0.5rem;
    color: var(--red);
    text-transform: uppercase;
    font-size: rem(12);
    font-family: var(--font-chakra-petch);
    transition: 200ms ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--red);
      color: var(--white);
    }
  }
}

.container {
  margin-bottom: 15px;
}

@media screen and (min-width: 1024px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar__title {
    font-size: rem(36);
  }

  .submenu {
    &__links {
      font-size: rem(16);

      li {
        margin-right: 2rem;
      }
    }

    &__button {
      font-size: rem(14);
    }
  }

  .container {
    margin-bottom: 0;
  }
}
