.team {
  background-image: url("../../assets/diamond-texture-top.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  h2 {
    margin: 3rem 0 0 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2rem;
  }

  &__separator {
    margin: 2rem 0;
    width: 375px;
  }
}
